.aboutSectionOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutSectionOne img {
  max-width: 100%;
  height: 300px;
}

h2 {
  text-align: center;
}


.aboutSectionOneText {
    width: 50%;
}
