@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeSectionOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homeSectionOne img {
  max-width: 100%;
  height: auto;
}

/* Home.css */
.imageOverlay {
  position: relative;
  display: inline-block;
}

.overlayText {
  position: absolute;
  top: 50%; /* Adjust as needed to position the text vertically */
  left: 50%; /* Center the text horizontally */
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7); /* Black background with 70% opacity */
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}

.homeSectionTwo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 30px;
}

.mobileText {
  display: none;
  width: 75%;
  text-align: center;
  font-weight: bolder;
}

.homeSectionTwo img {
  height: 375px;
}

.homeSectionTwo h3 {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Home.css */
.containerAboutUsHome {
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition effect */
}

.containerAboutUsHome:hover {
  color: #71db77;
  background-color: #333;
}

.imagesContainer {
  display: flex;
  justify-content: center;
}

.homeImages {
  display: flex;
  flex-direction: column; /* Display images and descriptions in a column */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  margin-bottom: 60px;
  width: 75%;
}

.homeImages img {
  width: auto; /* Allow the image to adjust its width as needed */
  height: 500px; /* Ensure the image takes 100% height of its container */
  object-fit: contain; /* Maintain aspect ratio, fitting within the container */
}

.carousel.carousel-slider {
  display: flex;
  align-items: center;
}

.carousel.ca {
  font-size: 30px;
}

.carousel.carousel-slider .control-arrow {
  display: block;
  background: transparent; /* You can adjust the arrow background */
  color: #333; /* You can adjust the arrow color */
  font-size: 24px; /* You can adjust the arrow font size */
  opacity: 0.8; /* You can adjust the arrow opacity */
  height: 50%;
  margin-top: 150px;
}

.carousel .thumbs-wrapper {
  display: none; /* Hide the thumbs */
}

.carousel.carousel-slider .control-arrow {
  display: block;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the button background color as needed */
  color: #fff; /* Adjust the button text color as needed */
}

/* MOBILE PAGE */

/* Media query for 430x740 */
@media screen and (max-width: 430px) and (max-height: 740px) {
  /* Add your specific styles here */

  .homeSectionTwo {
    justify-content: center;
  }

  .homeSectionTwo img {
    height: 310px;
  }

  .homeImages {
    width: 100%;
  }

  .overlayText {
    display: none;
  }

  .mobileText {
    display: flex;
  }
}
