.clientTestimonialsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonialsSectionOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 65%;
}

.testimonialsMainText {
  text-align: center;
}

.testimonial {
  border: 5px solid #71db77;
  border-radius: 120px;
  padding: 20px;
  margin-bottom: 10px;
}

.testimonialsSectionTwo {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 65%;
  margin-bottom: 50px;
}
